@font-face {
  font-family: 'NixieOne';
  src: local('NixieOne'),
        url('../static/fonts/NixieOne/NixieOne-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'ArimaMadurai';
  src: local('ArimaMadurai'),
        url('../static/fonts/ArimaMadurai/ArimaMadurai-Medium.ttf') format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
#layout-container {
  min-height: 100%;
  position: relative;
}
#body {
  padding-top: 4em; /* Height of the nav */
  padding-bottom: 5em;   /* Height of the footer */
  background-color: #f5f5f5;
  text-align: center;
}
footer {
  text-align: center;
  font-size: larger;
  position: absolute;
  margin: 0px;
  bottom: 0;
  width: 100%;
  height: 5em;   /* Height of the footer */
  padding: 1em;
  background-color: #84a179;
  box-shadow: 0 -10px 10px -5px rgba(0,0,0,0.2);
}
footer > div{
    font-family: 'ArimaMadurai';
}
footer > div > a > img {
  width: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  text-align: center;
  background-color: #e8e8e8;
  justify-content: center;
  display: inline-flex;
  white-space: nowrap;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
}
nav > a {
  padding: 2em;
  margin: 1em;
}

#logo-div {
  font-size: 1.7em;
  font-family: 'ArimaMadurai';
  display: inline;
  color: #56694f;
  font-weight: 100;
  margin: auto 5px;
}

a {
  color: #56694f;
}
a:hover {
  color: #84a179;
  text-decoration: none;
}

#header-right, #header-left {
  width: 100px; 
  padding: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

#header-right{
  float: right; 
}
#header-left {
  float: left; 
}
#hi {
  height: 0px;
  opacity: 0%;
  font-family: 'ArimaMadurai';
  text-align: left;
  padding-left: 1ch;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 1em;
}

@media (max-width: 760px) {
  #logo-div {
    font-size: 1.36em;
  }
}

.project {
  width: 95%;
  margin: 2em;
  border-bottom: 1px solid #84a179;
}

h1, h2, h3 {
  font-family: 'ArimaMadurai';
  color: #56694f;
  padding-left: 1em;
  padding-top: 1em;

}
h2 {
  /* padding-left: 3em; */
  color: #84a179;
}

.icon {
  height: 60px;
  margin: 10px;
  max-width: 10vw;
  /* filter: grayscale(1) */
}

.icon:hover {
  height: 80px;
  margin: 0px;
  filter: grayscale(0)
}