@font-face {
  font-family: 'NixieOne';
  src: local('NixieOne'),
        url('../static/fonts/NixieOne/NixieOne-Regular.ttf') format("truetype");
}
@font-face {
  font-family: 'ArimaMadurai';
  src: local('ArimaMadurai'),
        url('../static/fonts/ArimaMadurai/ArimaMadurai-Medium.ttf') format("truetype");
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #f5f5f5;
}
#layout-container {
  min-height: 100%;
  position: relative;
}
#body {
  padding-top: 6em; /* Height of the nav */
  padding-bottom: 5em;   /* Height of the footer */
  text-align: center;
}
footer {
  text-align: center;
  font-size: larger;
  position: absolute;
  margin: 0;
  bottom: 0;
  width: 100%;
  height: 5em;   /* Height of the footer */
  padding: 1em;
  background-color: #84a179;
  box-shadow: 0 -10px 10px -5px rgba(0,0,0,0.2);
}
footer > div{
    font-family: 'ArimaMadurai';
}
footer > div > a > img {
  width: 1.5em;
}

nav {
  position: fixed;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  /* font-weight: bold; */
  text-align: center;
  background-color: #e8e8e8;
  justify-content: center;
  display: inline-flex;
  white-space: nowrap;
  box-shadow: 0 10px 10px -5px rgba(0,0,0,0.2);
  z-index: 1;
}
nav > a {
  padding: 2em;
  margin: 1em;
}

#logo-div {
  font-size: 1.7em;
  font-family: 'ArimaMadurai';
  display: inline;
  color: #56694f;
  font-weight: 100;
  margin: auto 5px;
}

a {
  color: #56694f;
}
a:hover {
  color: #84a179;
  text-decoration: none;
}

#header-right, #header-left {
  width: 100px; 
  padding: 0.5em;
  margin-right: 2em;
  margin-left: 2em;
}

#header-right{
  float: right; 
}
#header-left {
  float: left; 
}
#hi {
  height: 0px;
  opacity: 0%;
  font-family: 'ArimaMadurai';
  text-align: left;
  padding-left: 1ch;
}

p {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 1em;
}

@media (max-width: 760px) {
  #logo-div {
    font-size: 1.36em;
  }
}

.project {
  width: 80%;
  margin: auto;
  margin-bottom: 2em;
  padding: 2em;
  border: 1px solid #84a179;
  /* background-color: #d5dfd1; */
  border-radius: 12pt;
  box-shadow: -5px 5px 15px rgba(0,0,0,0.2);
  overflow: hidden;
}
.project > img {
  width: 300px;
  float: left;
  box-shadow: -5px 5px 15px rgba(0,0,0,0.2);
  transition: all .2s ease-in-out;
  margin-right: 2em;
}
.project img:hover {
  transform: scale(1.05);
}
.project > p {
  text-align: justify;
  padding-top: 0pt;
}
.project > a {
  float: right;
  transition: all .2s ease-in-out;
  width: fit-content !important;
}
.project > a > img {
  width: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'ArimaMadurai';
  color: #56694f;
  margin-left: 1em;
  margin-right: 1em;
}
.pad-top {
  padding-top: 3em;
}
.pad-bottom {
  padding-bottom: 3em;
}

.icon {
  width: 8vw;
  margin: 2vw;
  transition: all .2s ease-in-out;
}
.tool-tip {
  position: relative;
}

/* tooltip adapted from: https://blog.logrocket.com/creating-beautiful-tooltips-with-only-css/ */
.tool-tip:before {
  content: attr(data-tooltip); 
  position: absolute;   
  font-size: x-large;
  color: #56694f;
  text-align: center;
  display: none; /* hide by default */
  
  /* position tooltip below */
  top: 100%;
  left: 50%;
  transform: translate(-50%, 6vw);

}
.tool-tip:hover:before {
  display:block;
}

.icon:hover {
  transform: scale(1.3)
}

.lighter {
  color: #84a179;
}
.highlight {
  color: #56694f;
  font-size: 110%;
  font-family: 'ArimaMadurai';
}

.success, .failed {
  margin: auto;
  margin-top: 1em;
  padding: 0.5em;
  width: fit-content;
  border-radius: 12pt;
}
.success {
  background-color: #d5dfd1;
}
.failed {
  background-color: #ffc8c8;
}

.input-label {
  margin-bottom: 0pt;
  width: 20em;
  text-align: left;
  margin: auto;
  padding-left: 1ch;
  font-family: 'ArimaMadurai';
}
input, textarea {
  border: 1px solid #56694f;
  border-radius: 5pt;
  padding: 3px;
  width: 20em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
input[type=submit], .project > a {
  width: 8em;
  padding: 8px;
  background-color: #d5dfd1;
  font-family: 'ArimaMadurai';
  border: none;
  border-radius: 12pt;
  transition: all .1s ease-in-out;
}
input[type=submit]:hover , .project > a:hover {
  box-shadow: -5px 5px 15px rgba(0,0,0,0.2);
  transform: scale(1.05);
  color: inherit;
}

.p-font {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

.contact-logo {
  width: 2.5em;
  padding: 5px;
  transition: all .2s ease-in-out;
}
.contact-logo:hover {
  transform: scale(1.2);
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
}