{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div class='pad-bottom'>
        <h3>Contact Me</h3>

        <div id='contact-logos'>
            <a href='https://github.com/brimco' target="_blank"><img src="{% static 'images/github.svg' %}"></a>
            <a href='https://www.linkedin.com/in/brianne-mcomber/' target="_blank"><img src="{% static 'images/linkedin.svg' %}"></a>
            <a href='mailto:bri.mcomber@gmail.com'><img src="{% static 'images/email.svg' %}"></a>    
        </div>

        <form action='{% url "portfolio:contact" %}' method="post">
            {% csrf_token %}
            <p class="input-label">Name</p>
            <input type="text" name="name"><br>
            <p class="input-label">Email</p>
            <input type="text" name="email"><br>
            <p class="input-label">Message</p>
            <textarea  name="message" rows=5></textarea><br><br>
            <input type="submit" value="Send">
        </form>

        {% if message %}
            <p class='{{ message_class }}'>{{ message }}</p>
        {% endif %}
    </div>
{% endblock %}
