{% extends 'layout.html' %}
{% load static %}

{% block title %}
    Bri McOmber - Contact
{% endblock %}

{% block body %}
    <div class='pad-bottom'>
        <h3>Contact Me</h3>
        <p>Have a question or want to work together? <br>I'd love to hear from you.</p>

        <!-- contact links -->
        <a href='https://github.com/brimco' target="_blank"><img src="{% static 'images/github.svg' %}" class='contact-logo'></a>
        <a href='https://www.linkedin.com/in/brianne-mcomber/' target="_blank"><img src="{% static 'images/linkedin.svg' %}" class='contact-logo'></a>
        <a href='{{ mail_link }}'><img src="{% static 'images/email.svg' %}" class='contact-logo'></a>    

        <!-- message form -->
        <form action='{% url "portfolio:contact" %}' method="post">
            {% csrf_token %}
            <p class="input-label">Name</p>
            <input type="text" name="name" value='{{ name }}'><br>
            <p class="input-label">Email</p>
            <input type="text" name="email" value='{{ email }}'><br>
            <p class="input-label">Message</p>
            <textarea  name="message" rows=5>{{ form_message }}</textarea><br><br>
            <input type="submit" value="Send">
        </form>

        <!-- success/failure message after submitted -->
        {% if message %}
            <p class='{{ message_class }}'>{{ message|safe }}</p>
        {% endif %}
    </div>
{% endblock %}
