{% extends 'layout.html' %}
{% load static %}

{% block body %}
    <div id='spacer' style='height: 200vh;'>
        <!-- this empty div gives the header room to shrink before reaching the content -->
    </div>

    <div>
        <p>
            I'm a web developer with experience in... I'm currently looking for an internship or entry level position.
        </p>
        <p class='center'>
            <h3>
                Experienced In:
            </h3>
            <img src="{% static '/images/html.svg' %}" class='icon'>
            <img src="{% static '/images/css.svg' %}" class='icon'>
            <img src="{% static '/images/javascript.svg' %}" class='icon'>
            <img src="{% static '/images/bootstrap.svg' %}" class='icon'>
            <img src="{% static '/images/react.svg' %}" class='icon'>
            <img src="{% static '/images/python.svg' %}" class='icon'>
            <img src="{% static '/images/django.svg' %}" class='icon'>
            <img src="{% static '/images/github.svg' %}" class='icon'>
        </p>
        <p class='center'>
            <h3>
                Currently Learning: 
            </h3>
            <img src="{% static '/images/jquery.svg' %}" class='icon'>
            <img src="{% static '/images/postgresql.svg' %}" class='icon'>
        </p>
        <p>
            short resume summary
        </p>
        <p>
            <a href='{% url "portfolio:projects" %}'>Check out some recent projects</a>
            <a href='{% url "portfolio:contact" %}'>Get in touch.</a>
        </p>
    </div>

{% endblock %}

<h1>Home Page</h1>

{% block script %}
    <script>
        // sizes in 'em'
        let maxFontSize = 3
        let minFontSize = 1
        let changeFont = 0.0025
        let hiFontRatio = 0.5

        // heights in 'vh'
        let maxHeight = 100
        let minHeight = 14
        let changeHeight = maxHeight / maxFontSize * changeFont
        
        function start() {
            // mobile settings
            if (window.matchMedia("only screen and (max-width: 760px)").matches) {
                maxFontSize = 2.25
                minHeight = 10
                document.querySelector('#spacer').style.height = '150vh'
            }

            // get elements
            const logo = document.querySelector('#header-logo') 
            const header = document.querySelector('nav')
            const hi = document.querySelector('#hi')

            // set initial opacity and height
            hi.style.opacity = '100%'
            hi.style.height = '1em'

            // set initial height of header
            header.style.height = maxHeight + 'vh'
            
            // set initial font size
            logo.style.fontSize = maxFontSize + 'em'
            hi.style.fontSize = maxFontSize * hiFontRatio + 'em'

            // set scroll to change size, header height
            window.addEventListener('scroll', function(){
                // set font size
                let fontSize = Math.max(minFontSize, maxFontSize - (window.scrollY * changeFont))
                logo.style.fontSize = fontSize + 'em'

                // set height
                let height = Math.max(minHeight, maxHeight - (window.scrollY * changeHeight))
                header.style.height = height + 'vh'
                logo.style.height = height + 'vh'

                // fade hi opacity from 75 to 25, then shrink height to 0
                const startFade = 0.75
                const endFade = 0.15
                const percentProgress = (height - minHeight) / (maxHeight - minHeight)
                hi.style.fontSize = fontSize * hiFontRatio + 'em'
                if (percentProgress > startFade) {
                    hi.style.opacity = 1
                }
                else if (percentProgress > endFade) {
                    hi.style.opacity = (percentProgress - endFade) / (startFade - endFade)
                    hi.style.height = '1em'
                }
                else {
                    hi.style.opacity = '0%'
                    hi.style.height = percentProgress + 'em'
                }
            });
        }

        // start when page loaded and ready
        if( document.readyState !== 'loading' ) {
            start();
            
        } else {
            document.addEventListener('DOMContentLoaded', function () {
                start();
            })
        }
    </script>
{% endblock %}